
<ion-content>
  <div class="bg">
    <img class="front-img" src="../../assets/images/drinking.png">
    <img class="back-img" src="../../assets/images/Component.png" >
  </div>

  <ion-img src="../../assets/images/logocolor.png"></ion-img>
  <p style="font-size: 20px;" >Xdrink la vitrine de vos boissons</p>
  <div class="btn">
    <ion-button class="outline-btn gradient-btn" routerLink="/type-inscription" fill="solid">Créer un compte</ion-button><br>
    <br>
    <ion-button class="outline-btn" (click)= "presentPopover()"  fill="outline">Se Connecter</ion-button>
  </div>
</ion-content>